<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>autoStart</string>
		<key>Title</key>
		<string>自动防刷屏</string>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1000</string>
		<key>Key</key>
		<string>hideHeight</string>
		<key>Title</key>
		<string>隐藏长度大于此数值的楼层</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>100</string>
		<key>Key</key>
		<string>ignoreHeight</string>
		<key>Title</key>
		<string>不检查长度小于此数值的楼层</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>FalseValue</key>
		<string>false</string>
		<key>Key</key>
		<string>hidePic</string>
		<key>Title</key>
		<string>隐藏含有图片的楼层</string>
		<key>TrueValue</key>
		<string>true</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>关键词设置（多个关键词请用双分号(;;)隔开）</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>false</string>
		<key>Key</key>
		<string>hideKeyword</string>
		<key>Title</key>
		<string>隐藏含有关键词的楼层</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>keywordListAll</string>
		<key>Title</key>
		<string>隐藏包含以下所有关键词的楼层</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>keywordListAny</string>
		<key>Title</key>
		<string>隐藏包含以下任一关键词的楼层</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
